*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-align: left;
  cursor: default;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  text-align: start;  
  margin: 0;
}

button {
  all: initial;
}