<header class="header" id="headerSquare">
    <div class="header-nav">
        <div class="game-name">Leader Of Time</div>
        <div class="dynamic-container">
            <div class="login-button" id="loginButton">
                <a class="link-button skin-discord"
                    href="https://discord.com/api/oauth2/authorize?client_id=1131586220951080970&redirect_uri=http%3A%2F%2Fvps-43791.vps-default-host.net%3A80&response_type=code&scope=identify"></a>
            </div>
            <div class="authorized-user" id="authorizedUser">
                <div class="authorized-user-info">
                    <div id="avatar" class="authorized-user-avatar"></div>
                    <div class="authorized-user-name" id="userName"></div>
                </div>
                <div class="logout-button"><a href="/logout" class="link-button skin-1">logout</a></div>
            </div>
        </div>
    </div>
    <div class="header-absolute">
        <div class="header-relative" id="headerSquareContainer"></div>
    </div>
</header>